@import "tailwindcss";

.bg-gold {
  background-color: #d0af6c;
}

.text-gold {
  color: #d0af6c;
}

.font-cormorant {
  font-family: var(--font-cormorant);
}

.font-inter {
  font-family: var(--font-inter);
}
