@import "tailwindcss";



.bg-gold {
  background-color: #D0AF6C;
}

.text-gold  {
  color: #D0AF6C;
}

.font-cormorant {
  font-family: var(--font-cormorant);
}

.bg-hero {
  background-image: url('/img/home/hero.webp');
}
